# Pandas: Grouping & Aggregation on Sample Survey Dataset

---

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [3]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

---

### Aggregations In Pandas

In [ ]:
In order to understand Aggregations in Pandas, we undertake following actions: 
- Selecting SalaryUSD column 
- Applying Mean, Median
- Description

In [4]:
df['SalaryUSD'].head(15)

Respondent
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8     116000.0
9          NaN
10     32315.0
11     40070.0
12     14268.0
13     38916.0
14     66000.0
15         NaN
Name: SalaryUSD, dtype: float64

In [5]:
df['SalaryUSD'].median()

54049.0

In [6]:
df.median()

Age               29.0
CompTotal      63000.0
SalaryUSD      54049.0
WorkWeekHrs       40.0
dtype: float64

In [7]:
df.describe()

                Age      CompTotal     SalaryUSD   WorkWeekHrs
count  45446.000000   3.482600e+04  3.475600e+04  41151.000000
mean      30.834111  3.190464e+242  1.037561e+05     40.782174
std        9.585392            inf  2.268853e+05     17.816383
min        1.000000   0.000000e+00  0.000000e+00      1.000000
25%       24.000000   2.000000e+04  2.464800e+04     40.000000
50%       29.000000   6.300000e+04  5.404900e+04     40.000000
75%       35.000000   1.250000e+05  9.500000e+04     44.000000
max      279.000000  1.111111e+247  2.000000e+06    475.000000

In [8]:
df['SalaryUSD'].count()

34756

---
### Grouping In Pandas

In [9]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

##### Grouping By String Search on Cell Value

In [11]:
df['PlatformWorkedWith'].str.contains('Linux').value_counts()

True     29600
False    24243
Name: PlatformWorkedWith, dtype: int64

In [12]:
df['PlatformWorkedWith'].str.contains('Linux').value_counts(normalize=True)

True     0.549746
False    0.450254
Name: PlatformWorkedWith, dtype: float64

Using Normalize, gives the value counts in Percentile

---

In [13]:
schema_df.loc['PlatformWorkedWith']

QuestionText    Which platforms have you done extensive develo...
Name: PlatformWorkedWith, dtype: object

In [14]:
country_grp = df.groupby(['Country'])
country_grp.get_group('India').head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,SalaryUSD,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
58,I am a developer by profession,Yes,NaN,22,NaN,NaN,NaN,India,Indian rupee,INR,...,Neither easy nor difficult,Too long,NaN,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
149,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,70.0,5,3

In [15]:
country_grp['SalaryUSD'].value_counts().loc['United States']

SalaryUSD
120000.0     322
100000.0     292
150000.0     268
2000000.0    253
110000.0     236
            ...
1788000.0      1
1836000.0      1
1848000.0      1
1968000.0      1
1980000.0      1
Name: SalaryUSD, Length: 902, dtype: int64

In [16]:
country_grp['SalaryUSD'].median().loc['Germany']

62697.0

In [17]:
filter_ = df['Country'] == 'India'
df.loc[filter_]['LanguageWorkedWith'].str.contains('Python').sum()

2670

Using Sum to Aggregate Column Values

In [18]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

---
##### Problem 

What % of people from each country know Python?

Sourab's Approach

In [20]:
country_group_by = df.groupby(['Country'])
lambda_func = lambda x: x.str.contains('Python', na=False).sum()

In [21]:
grp_apply = country_group_by['LanguageWorkedWith'].apply(lambda_func)
grp_apply.value_counts(normalize=True).head()

0     0.103825
1     0.081967
2     0.065574
3     0.060109
10    0.043716
Name: LanguageWorkedWith, dtype: float64

Corey Schafer's Apprach

In [22]:
country_respondents = df['Country'].value_counts()
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df.rename(columns={'LanguageWorkedWith':'Using Python', 'Country': "Number Respondents"}, inplace=True)

In [23]:
python_df.head()

                Number Respondents  Using Python
United States                12469          5964
India                         8403          2670
United Kingdom                3896          1621
Germany                       3890          1712
Canada                        2191          1011

---

### Operations & Sorting Cells

In [24]:
python_df['PctKnows'] = round((python_df['Using Python'] / python_df['Number Respondents']) * 100, 2)

In [25]:
python_df.sort_values(by='PctKnows', ascending=False, inplace=True)

In [26]:
python_df.loc['Japan']

Number Respondents    297.00
Using Python          132.00
PctKnows               44.44
Name: Japan, dtype: float64

---