In [1]:
peson = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"], 
    "last": ['Schafer'], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
people = {
    "first": ["Corey", "Jane", "John"], 
    "last": ["Schafer", "Doe", "Doe"], 
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [4]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [60]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2    NaN    Smith        johndoe@email.com

#### Ways to refer to a column in a dataframe

In [7]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [59]:
type(df['email'])

pandas.core.series.Series

In [9]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [10]:
df.count()

first    3
last     3
email    3
dtype: int64

In [11]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

---

#### loc & iloc for Accessing Rows

In [13]:
# For accessing rows
# loc 
df.iloc[0] # Access by Integer location

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [14]:
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [15]:
# For access select rows & Columns
df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [16]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

---

In [17]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

Using loc to print all the entries with column names in the first row

In [18]:
df.loc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

Selecting & Printing multiple rows using list of row numbers

---

#### Using Labels

In [19]:
df.loc[[0, 1], 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

Selecting email entries in 1st & 2nd row

In [20]:
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

Accessing Email & last column in the first and second row

In [21]:
df.set_index('email', inplace=True)

In [22]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [23]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [24]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [25]:
df.loc[0]

KeyError: 0

_The above code fails as the index has been set to email column_

In [26]:
df.iloc[1]

first    Jane
last      Doe
Name: JaneDoe@email.com, dtype: object

In [27]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

---

#### Filtering - Using Conditionals to Filter

In [28]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [29]:
df[filt]

               email first last
2  JohnDoe@email.com  John  Doe

In [30]:
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [31]:
or_filter = (df['last'] == 'Schafer') | (df['first'] == 'John')
print("Filter\n", df[or_filter])
print("Inverting Filter\n", df[~or_filter])

Filter
                      email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
2        JohnDoe@email.com   John      Doe
Inverting Filter
                email first last
1  JaneDoe@email.com  Jane  Doe

#### Updating Rows & Columns

In [32]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [33]:
df.columns = ['first_name', 'last_name', 'email']

In [34]:
df.columns = [x.lower() for x in df.columns]

In [35]:
df.columns = df.columns.str.replace(' ', '_')

In [36]:
df

                first_name last_name    email
0  CoreyMSchafer@gmail.com     Corey  Schafer
1        JaneDoe@email.com      Jane      Doe
2        JohnDoe@email.com      John      Doe

In [37]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [38]:
df.loc[2] = ['John', 'Smith', 'JohnSmit@Email.com']

In [39]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@Email.com']

In [40]:
df = pd.DataFrame(people)
df.loc[2, 'last'] = 'Smith'

In [41]:
df.at[2, 'last'] = 'Doe'
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [42]:
filter_ = (df['email'] == 'JohnDoe@email.com')
df[filter_]['email']

2    JohnDoe@email.com
Name: email, dtype: object

Following doesn't work.
df[filter_]['last'] = 'Smith'

In [43]:
df.loc[filter_, 'last'] = 'Smith'

##### Assigns lower case directly over a set of rows in the column

In [44]:
df['email'] = df['email'].str.lower()

In [45]:
def to_upper(obj: str): 
    return obj.upper()

def to_lower(obj: str): 
    return obj.lower()

df['email'] = df['email'].apply(to_upper)

In [46]:
df['email'] = df['email'].apply(to_lower)

In [47]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [48]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [49]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [50]:
len(df['email'])

3

In [51]:
df.apply(pd.Series.min)
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [52]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [53]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [54]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [55]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [56]:
df['first'] = df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

In [57]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2    NaN    Smith        johndoe@email.com

---

### Adding Or Removing Columns from Dataframe